* {
    box-sizing: border-box;
}
header{
    background: url(../img/Louisville-Kentucky-Skyline.jpg);
    background-size: cover;
    text-align: center;
    padding: 1em 0;
}
main{
    padding: 4rem;
    display: flex;
}
body {
    margin: -8px;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

h1 {
    margin-left: 1em;
}
a {
	text-decoration: none;
}

/* ================================= 
  Base Layout Styles
==================================== */

.main-nav a {
	text-align: center;
	display: block;
	padding: 10px 15px;
    font-size: .95em;
}

/* ---- Layout Containers ---- */


/* ================================= 
  Media Queries
==================================== */

/* Tablet */
@media (min-width: 769px) {

	.main-header,
	.main-nav {
		display: flex;
	}
	.main-header {
		flex-direction: column;
		align-items: center;
	}

}

/* Desktop */
@media (min-width: 1025px) {

	.main-header {
		flex-direction: row;
		justify-content: space-between;
	}

}