* {
    box-sizing: border-box;
}

html{
    font-size: 1.25em;
}
header{
    padding: 1em 0;
    background: url(../img/Louisville-Kentucky-Skyline.jpg) center / cover no-repeat #e4c4ff;
    background-blend-mode: multiply;
    text-align: center;
    border-bottom:solid 3px black;
    outline: #e4c4ff;
}
main{
    padding: 2rem 4rem 4rem 4rem;
    max-width: 1200px;
    margin: 0 auto;
}
body {
    margin: -8px;
    font-family: 'Open Sans', sans-serif;

}

ul {
    margin: 0;
    margin-left: 1em;
    padding: 0;

  }
.exp ul{
    list-style: circle;
}
h1 {
    margin-left: 1em;
}
a {
	text-decoration: none;
}

/* ================================= 
  Base Layout Styles
==================================== */
.main-nav{
    list-style: none;
}
.main-nav li {
	text-align: center;
	display: block;
	padding: 5px 2em;
    border: solid 2px black;
    margin: 10px;
    background:  rgb(236, 236, 236);
    border-radius: 16px;
    font-weight: bold;
    font-size: .8em;
}


/* ---- Layout Containers ---- */


/* ================================= 
  Media Queries
==================================== */

/* Tablet */
@media (min-width: 769px) {
    .main-header,
	.main-nav,
	.about {
		display: flex;
	}
	.main-header {
		flex-direction: column;
		align-items: center;
	}

    .column {
        margin: 1em;
        flex: 1;
    }

    section{
        border-bottom: solid 3px black;

    }
}
/* Desktop */
@media (min-width: 1025px) {

	.main-header {
		flex-direction: row;
		justify-content: space-between;
	}
}